@model CourtBooking.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExtraData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        @if (Model.Users != null)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Users)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Users.UserName)
        </dd>
        }
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Court)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Court.CourtId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Checksum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Checksum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BookingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
